PRoject/WebService(Object)/StudentClient/Web References/localhost/WebServiceObj.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudent">
        <s:complexType />
      </s:element>
      <s:element name="GetStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentResult" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RollNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Basic" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="GetStudentSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceObjSoap">
    <wsdl:operation name="GetStudent">
      <wsdl:input message="tns:GetStudentSoapIn" />
      <wsdl:output message="tns:GetStudentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceObjSoap" type="tns:WebServiceObjSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceObjSoap12" type="tns:WebServiceObjSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudent">
      <soap12:operation soapAction="http://tempuri.org/GetStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceObj">
    <wsdl:port name="WebServiceObjSoap" binding="tns:WebServiceObjSoap">
      <soap:address location="http://localhost:57369/WebServiceObj.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceObjSoap12" binding="tns:WebServiceObjSoap12">
      <soap12:address location="http://localhost:57369/WebServiceObj.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>